.itemInfo {
	max-width: 1450px;
	padding: 0 30px;
	margin: 40px auto;

	&__block {
		background-color: var(--color-bg);
		border-radius: 22px;
		padding: 50px 55px;
		margin: 40px auto;
	}

	&__splitBlock {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		column-gap: 35px;
		row-gap: 40px;
	}

	&__halfBlock {
		background-color: var(--color-bg);
		border-radius: 22px;
		padding: 50px 55px;
	}

	&__title {
		font-size: 18px;
		margin-bottom: 35px;
	}

	&__tableWrapper {
		display: flex;
		flex-wrap: wrap;
		column-gap: 140px;
		row-gap: 40px;
		margin: -15px auto;
	}

	&__tableRow {
		height: 40px;
	}

	&__halfBlockHeader {
		display: flex;
		justify-content: space-between;
		font-size: 15px;

		span {
			color: var(--color-font-third);
		}
	}

	&__strangeShoping {
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-right: 15px;
	}

	&__strangeShopingRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__strangeShopingTime {
		color: #ff8800;
	}

	&__strangeShopingAvatar {
		width: 40px;
		border-radius: 50%;
		border: 1px solid #ffffff;
		height: 50px;
		width: 50px;
		object-fit: cover;
		object-position: center;
	}

	&__btn {
		color: #ffffff;
		background-color: var(--color-bg-btn);
		border-radius: 22px;
		padding: 15px 30px;
	}

	&__clientsItemsWrapper {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		height: 205px;
		overflow: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--color-border);
			border-radius: 5px;
		}
	}
}

/* Responsive */
@media (max-width: 585px) {
	.itemInfo {
		&__splitBlock {
			grid-template-columns: 1fr;
		}
	}
}
